<div class="text-center">
  <h2>Manage my Elders</h2>
  <br>
  <%= link_to 'Add an Elder', new_my_elder_path, class: "btn btn-primary" %>
  <hr>
</div>

<div class="container">
  <div class="row align">
    <% @elders.each do |elder| %>
      <div class="message" >
        <div class="col-xs-1 col-sm-1 message-avatar">
          <%= cl_image_tag elder.photo, height: 300, width: 300, crop: :fill , class: "avatar-large"  %>
        </div>
        <div class="col-xs-9 col-sm-9 message-body">
          <h3 style="display: inline;"><%= elder.full_name %> </h3>
          <h6 style="display: inline;">- <%= elder.address %></h6>
          <p><%= elder.description  %></p>
          <% skills = [] %>
          <% elder.skills.each do |skill| %>
            <% skills << skill.name %>
          <% end %>
          <% skills %>
          <p>
            <%= skills.join(', ') %>
          </p>
        </div>
        <div class="col-xs-1 col-sm-2 message-status">
          <%= link_to edit_my_elder_path(elder) do %>
            <i class="fa fa-pen" aria-hidden="true"> Edit it </i>
          <% end %>
          <br>
          <%= link_to my_elder_path(elder), method: :delete, data: { confirm: "Are you certain you want to DESTROY this poor old person?"} do  %>
            <i class="fa fa-trash" aria-hidden="true"> Destroy it </i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
