<h1>My Rents</h1>

<% @rents.each do |rent| %>
  <div class="message" >

      <div class="row">
      <div class="col-xs-12 col-sm-6">
        <% elder = Elder.find(rent.elder_id) %>
        <%= cl_image_tag elder.photo, height: 300, width: 300, crop: :fill %>
      </div>

      </div>
      <div class="message-body">
        <h3>
            <% elder = Elder.find(rent.elder_id) %>
            <%= elder.full_name %>
          </h3>
          <p> Loué de <%= rent.start_date %> à <%= rent.end_date %></p>

          <button> <%= link_to "Add a review", new_rent_review_path(rent) %></button>
      </div>
      <div class="message-status">
        <p class="status pending"> <%= rent.status %></p>
    </div>
  </div>
<% end %>


